

/* circle spiner */
.top-slide {
    position: absolute;
    margin: -165px auto;
    right: 0;
    left: 0;
    z-index: 99; 
}

.title-top-slide {
    font: 50px/1.2  cursive;
    color: #fdf8d8;
    text-align: center;
    top: 150px;
    left: 22%;
    z-index: 1;
    position: absolute;
}

.body-slide {
    position: absolute;
    left: 0;
    right: 0;
    top: 98px;
}
.circle-1 {
    background: #8a887c;
    /* background: #99854B; */
    border-radius: 50% 50% 50% 70%/50% 50% 70% 60%;
    animation: border-animation 6s infinite linear;
}
.circle-2 {
    background: #ffd700;
    border-radius: 80% 30% 50% 50%/50%;
    animation: border-animation 4s infinite linear;
}
.circle-3 {
    /* background: #fdf8d8; */
    background: #82681E;
    border-radius: 40% 40% 50% 40%/30% 50% 50% 50%;
    animation: border-animation 3s infinite linear;
}
@keyframes border-animation {
    to { transform: rotate(360deg); }
  }

.body-slide> div{
    position: absolute;
  }
  
.body-slide div {
    width: 280px;
    height: 300px;
    left: 20%;
    mix-blend-mode: normal;
}



/* slider */
.main-nav {
    position: absolute;
    top: 42%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 0;
    padding: 0;
    width: 600px;
    height: 150px;
    right: 0;
    left: auto;
}
.main-nav li.item:first-child {
    top: 0;
    left: 0;
}
.main-nav li {
    list-style: none;
    position: absolute;
    width: 200px;
    height: 200px;
    background: #000;
    transform: rotate(312deg);
    transition: 0.5s;
    transition-property: all;
    transition-duration: 0.5s;
    transition-timing-function: ease;
    transition-delay: 0s;
    margin: -100px;
    overflow: hidden;
    /* opacity: 0.6; */
    border-radius: 15px;
}
.main-nav li .bg {
    width: 100%;
    height: 100%;
    transform: scale(1.1);
}
.main-nav li.item:nth-child(2) {
    bottom: 0;
    left: 25%;
}
.main-nav li.item:nth-child(3) {
    top: 0;
    left: 50%;
}
.main-nav li.item:nth-child(4) {
    bottom: 0;
    left: 75%;
}
.main-nav li.item:last-child {
    top: 0;
    left: 100%;
}
.main-nav li:hover {
    transform: scale(1.2);
    /* translateX(1%); */
    z-index: 99;
    
}

@media screen and (max-width:1667px) {
    .top-slide  .circle-1 .circle-2 .circle-3{
        display: none;
    }
    .title-top-slide {
        display: none;
    }
    .body-slide{
        display: none;
    }
    .main-nav{
        left: 50%;
    }
}
@media screen and (max-width:900px) {
    .main-nav{
        left: 0;
    }
}


/* .bg-image {
    
    overflow: hidden;
    background-repeat: no-repeat;
    z-index: -1;
    background-size: cover;
    background-position: 50%;
    margin-top: -279px;
} */
/* .particle{
    z-index: 0;
     
} */

 
  #tsparticles {
     /* if you use -1 you have to set to `"window"` the interactivity.detectsOn property */
   }  
  
   
